
.container {
  display: flex;
  .thumbnail {
    margin-right: 1rem;
    img {
      display: block;
      width: 160px;
      height: 100px;
      object-fit: cover;
    }
  }

  .contents {
    h2 {
      margin: 0;
      a {
        color: black;
        text-decoration: none;
      }
    }
    p {
      line-height: 1.5;
      margin: 0.5rem 0 0;
      white-space: normal;
    }
  }
  & + & {
    margin-top: 3rem;
  }
}